<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyadmin.module.handleService.mapper.HandleServiceMapper">
    <resultMap id="BaseResultMap" type="com.jyadmin.module.handleService.domain.HandleService">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="handleCode" column="handle_code" jdbcType="VARCHAR"/>
            <result property="customerServiceId" column="customer_service_id" jdbcType="BIGINT"/>
            <result property="handleTime" column="handle_time" jdbcType="TIMESTAMP"/>
            <result property="handleUser" column="handle_user" jdbcType="VARCHAR"/>
            <result property="handleRemark" column="handle_remark" jdbcType="VARCHAR"/>
            <result property="attachment" column="attachment" jdbcType="VARCHAR"/>
            <result property="handleStatus" column="handle_status" jdbcType="VARCHAR"/>
            <result property="userFeedback" column="user_feedback" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="BIGINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        handle_code,
        customer_service_id,
        handle_time,
        handle_user,
        handle_remark,
        attachment,
        handle_status,
        user_feedback,
        version,
        create_by,
        update_by,
        create_time,
        update_time,
        deleted
    </sql>
    <select id="selectHandleServicePage" resultType="com.jyadmin.module.handleService.model.dto.HandleServiceDTO">
        SELECT * FROM (
              SELECT ths.*, su1.username "handle_user_name",su1.nickname "handle_user_nickname", tcs.service_code "service_code", su2.username "username", su2.nickname "nickname"
              FROM tb_handle_service ths
              INNER JOIN sys_user su1 ON su1.id = ths.handle_user
              INNER JOIN tb_customer_service tcs ON tcs.id = ths.customer_service_id
              INNER JOIN sys_user su2 ON su2.id = tcs.user_id
        ) t ${ew.customSqlSegment}
    </select>
    <select id="selectHandleServiceList" resultType="com.jyadmin.module.handleService.model.dto.HandleServiceDTO">
        SELECT * FROM (
              SELECT ths.*, su1.username "handle_user_name",su1.nickname "handle_user_nickname", tcs.service_code "service_code", su2.username "username", su2.nickname "nickname"
              FROM tb_handle_service ths
              INNER JOIN sys_user su1 ON su1.id = ths.handle_user
              INNER JOIN tb_customer_service tcs ON tcs.id = ths.customer_service_id
              INNER JOIN sys_user su2 ON su2.id = tcs.user_id
        ) t ${ew.customSqlSegment}
    </select>
</mapper>
